@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all .25s ease-out;
}

.hover-shadow:hover {
  box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
  transform: translateY(-1px);
}